<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "doggy.jpg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Having worked in many different variations of jobs, I have found my passion, coding. Learning to code has been the best choice of my life and I am always wanting to learn more. Being able to incorporate code into my everyday life would make everything easier and more exciting. </p>
  </div>
</div>

